{% extends "base.html" %}
{% load bootstrap %}

{% block body %}

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<p>&nbsp;</p>
		<p>On March 5th, 2014, I quietly pushed the site live. I didn't make any announcements, didn't attempt to promote it.
			I just want to see who uses it.  Before, where there were only a few charts and some subtle philisophical statements,
			there was suddenly a complete login system wrapped entirely with Coinbase authentication.</p>
		<p>If you're reading this, you're my early adopter, if you so choose.  Your thoughts and whims will help create this
			entire ecosystem. I believe what is happening on DayBitTrader represents the future of Bitcoin trading: useful tools
			build around trusted systems. The Bitstamps and Coinbases of the world are doing their job, so why build another
			trading system?  What we need is better trading tools to work on top of of existing secure systems.  Bitcoin is a 
			living breathing ecosystem, with a few bad players mostly weeded out now it will thrive!</p>
		<p>DayBitTrader is my humble contribution. It is some of my best work, and I am very proud of it.
			It is, quite simply, a smarter way to trade using Coinbase.</p>
		<p>&nbsp;</p>
		{% if not request.user.is_authenticated %}
		<h3>Here's a glimpse of what's inside:</h3>
		<p><img src="{{ STATIC_URL }}images/about-example.jpg" alt="DayBitTrader"></p>
		<h3>Try it yourself:</h3>
		<p style="text-align:center;">
			<a style="font-size:30px;" href="/login/coinbase/" class="btn btn-primary">Log in with Coinbase</a>
		</p>
		{% endif %}
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<p>&nbsp</p>
		<p>Silence is a source of great strength. ~ Lao Tzu</p>
		<h3>Send donations to: <pre>1L3a3A2ZmYZKpeRrpvUENfxRqYSHPVPRUq</pre></h3>
		<p style="text-align:center;">
			<strong><a href="https://bitcointalk.org/index.php?action=pm;sa=send;u=129709">Contact Me</a></strong>
		</p>
	</div>
	<div class="col-md-4"></div>
</div>
				
{% endblock body %}
