{% extends "base.html" %}

{% block head %}
<script src="{{ STATIC_URL }}js/pusher.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.0/d3.min.js"></script>
{% endblock head %}

{% block body %}
<div class="col-md-5">
	<div class="clearfix">
		<ul class="nav nav-pills pull-right" style="padding-top: 20px;">
			<li><a href="/trade/buy/">Buy</a></li>
			<li><a href="/trade/sell/">Sell</a></li>
			<li><a href="/trade/stoploss/">Stop Loss</a></li>
			<li><a href="/trade/">Live Data</a></li>
		</ul>
	</div>
</div>
<div class="col-md-7">
	{% if heading %}
	<h1>{{ heading }}</h1>
	{% endif %}
</div>
<div class="col-md-5">
	<div class="aside">
	{% block aside %}{% endblock aside %}
	</div>
	<script>$('.nav-pills li a').each(function() {if(this.href == window.location.href) {$(this).parent().addClass('active');}});</script>
	
	{% block sidebar %}{% endblock sidebar %}
	<div class="aside">
		<div class="trade-room-promo">
			Coming soon,<br>
			the Trade Room
		</div>
	</div>
	{% if recent_trades %}
	<div class="aside">
		<h4>Recent Trades</h4>
		<ul class="recent-trades trade-list">
			{% for trade in recent_trades %}
			<li class="trade-{{ trade.type }} trade-{{ trade.completion_status }}"><strong>{{ trade.type }}</strong>
				{{ trade.btc_amount }} BTC at ${{ trade.most_recent_log.price_point }}
				<span class="pull-right"><small>{{ trade.most_recent_log.date_added }}</small></span>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
</div>
<div class="col-md-7">
	{% block content %}{% endblock content %}
</div>
{% endblock body %}

{% block bottom %}
<script src="{{ STATIC_URL }}js/trade.js"></script>
{% endblock bottom %}