{% extends "base.html" %}

{% block head %}
<script src="{{ STATIC_URL }}js/pusher.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.0/d3.min.js"></script>
{% endblock head %}

{% block body %}
<div class="col-md-5">
	<div class="clearfix">
		<ul class="nav nav-pills pull-right" style="padding-top: 20px;">
			<li><a href="/trade/buy/">Buy</a></li>
			<li><a href="/trade/sell/">Sell</a></li>
		</ul>
	</div>
	<div class="aside">
	{% block aside %}{% endblock aside %}
	</div>
	<script>$('.nav-pills li a').each(function() {if(this.href == window.location.href) {$(this).parent().addClass('active');}});</script>
	{% block sidebar %}{% endblock sidebar %}
</div>
<div class="col-md-7">
	{% block content %}{% endblock content %}
</div>
{% endblock body %}

{% block bottom %}
<script src="{{ STATIC_URL }}js/trade.js"></script>
{% endblock bottom %}