{% extends "base.html" %}
{% load bootstrap %}

{% block head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>google.load("visualization", "1", {packages:["corechart"]});</script>
{% endblock head %}

{% block body %}

<div class="row">
	<div class="col-md-2" id="fee-selection">
		<form action="">
			{{ feeform|bootstrap }}
			<p><input type="submit" value="Update" class="btn btn-large btn-primary"></p>
		</form>
	</div>
	<div class="col-md-10" id="history-chart" style="height: 300px;"></div>
</div>
<div class="col-md-12" id="daily-chart" style="height: 300px;"></div>
<div class="col-md-12" id="a-c-chart" style="height: 300px;"></div>

<div class="col-md-4"></div>
<div class="col-md-4">
	<p>&nbsp;</p>
	<p>A leader is best when people barely know he exists, when his work is done, his aim fulfilled, they will say: we did it ourselves.</p>
<form method="post" action="/" id="login-form">
	<h1>Log In</h1>
	{% csrf_token %}
	{{ form|bootstrap }}
	<p class="actions">
       <input type="hidden" name="next" value="/" />
       <button type="submit" class="btn btn-large btn-primary" value="login">Sign In</button>
	</p>
</form>
<h4>One-time access fee to gain entry</h4>
<p>
	<span class="btc">{{ 50_usd }} BTC</span>
	<a class="coinbase-button" data-code="34d0c1707b3f99fb70c6f052435cf2c4" data-custom="ONE_TIME_ACCESS_FEE" href="https://coinbase.com/checkouts/34d0c1707b3f99fb70c6f052435cf2c4">Pay With Bitcoin</a></p>
<script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
<p>&nbsp;</p>
</div>
<div class="col-md-4"></div>
				
{% endblock body %}

{% block bottom %}
{% include "inc/chart_bottom_common.html" %}
{% endblock bottom %}
