{% extends "base.html" %}
{% load bootstrap %}

{% block head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>google.load("visualization", "1", {packages:["corechart"]});</script>
{% endblock head %}

{% block body %}

<div class="row">
	<div class="col-md-2" id="fee-selection">
		<form action="">
			{{ feeform|bootstrap }}
			<p><input type="submit" value="Update" class="btn btn-large btn-primary"></p>
		</form>
	</div>
	<div class="col-md-10" id="history-chart" style="height: 300px;"></div>
</div>
<div class="col-md-12" id="daily-chart" style="height: 300px;"></div>
<div class="col-md-12" id="a-c-chart" style="height: 300px;"></div>

<div class="col-md-4"></div>
<div class="col-md-4">
<form method="post" action="/" id="login-form">
	<h1>Log In</h1>
	{% csrf_token %}
	{{ form|bootstrap }}
	<p class="actions">
       <input type="hidden" name="next" value="/" />
       <button type="submit" class="btn btn-large btn-primary" value="login">Sign In</button>
	</p>
</form>
<p>&nbsp;</p>
</div>
<div class="col-md-4"></div>
				
{% endblock body %}

{% block bottom %}
{% include "inc/chart_bottom_common.html" %}
{% endblock bottom %}
