{% extends "base.html" %}
{% load bootstrap %}

{% block body %}

<div class="col-md-1"></div>
<div class="col-md-10">
	<p>&nbsp</p>
	<h1>Log in with Coinbase</h1>
	<p>Logging in with Coinbase is a safer, easy, and instant way of logging into the DayBitTrader application.
		Doing so allows you to instantly create an account with us, or access an account that you have previously created
		with us.</p>
	<p>Logging in with Coinbase instead of a traditional user registration is safer, because it allows us to offload most of
		the security responsibility to Coinbase, enabling you to use their excellent two factor authentication when accessing
		our application, while granting DayBitTrader a minimum of permissions with which to operate.</p>
	<p>By logging in via Coinbase, you allow us the following access:</p>
	<ol>
		<li>Buy and Sell privileges.  This is a trading system, so we need this.</li>
		<li>Basic access to your account information, and account balance.</li>
	</ol>
	<p>DayBitTrader will never ask you for the capability to withdraw funds from your account. We believe this is vitally
		important to your security, and it is a capability we definitely don't need regardless.</p>
	<p>Your access keys to Coinbase are encrypted in the database. In the unlikely case that an attacker both gains access
		to the database and the decryption key, the key will only be good for making trades, your funds will be safe. Keys
		expire regularly, and are refreshed again only when needed.  They can be permanently revoked by you at any time.</p>
	<p style="text-align:center;">
		<a style="font-size:30px;" href="/login/coinbase/" class="btn btn-primary">Log in with Coinbase</a>
	</p>
</div>
<div class="col-md-1"></div>
				
{% endblock body %}