{% extends "base_trade.html" %}
{% load bootstrap %}

{% block content %}
<div class="trade">
	<h1>{{ heading }}</h1>
	{% if request.current_cb_balance.amount %}<h2>Coinbase Balace:
		<strong>{{ request.current_cb_balance.amount }}</strong></h2>{% endif %}
	<form action="?save" method="post">
		{% csrf_token %}
		{{ form|bootstrap }}
		<p class="actions">
			<button type="submit" class="btn btn-large btn-primary">{{ submit_text }}</button>
		</p>
	</form>
</div>
<script>$('.trade label:eq(3)').hide();</script>
{% endblock content %}