{% extends "base_trade.html" %}
{% load bootstrap %}

{% block sidebar %}
<h4 class="clear">Active Trades</h4>
<ul>
{% for trade in trades %}
	<li class="trade-{{ trade.type }}"><strong>{{ trade.type }}</strong>: {{ trade.btc_amount }} BTC - ${{ trade.price_point }} (${{ trade.cost }})
		{% if trade.expired %}<strong style="color:red">EXPIRED</strong>{% endif %}</li>
{% endfor %}
</ul>
{% endblock sidebar %}

{% block content %}
<div class="trade">
	<h1>{{ heading }}</h1>
	{% if cb_balance %}<h4 style="color:#666;">Coinbase Balance:
		<strong>{{ cb_balance }}</strong> &nbsp; Current {{ trade_type_lower }} price: <strong>{{ current_price }}</strong></h4>{% endif %}
	<form action="?save" method="post">
		{% csrf_token %}
		{{ form|bootstrap }}
		<p class="actions">
			<button type="submit" class="btn btn-large btn-primary">{{ submit_text }}</button>
		</p>
	</form>
</div>
<script>$('.trade label:eq(3)').hide();</script>
{% endblock content %}

{% block bottom %}
<script>
	$(document).ready(function() {
		$('<span> &nbsp <span class="priceinfo" id="actual-price"></span></span>').appendTo('label[for="id_price_point"]');
		$('#id_price_point, #id_btc_amount').keyup(function() {
			this.value = this.value.replace(/[^0-9\.]/g, '');
			var price_val = parseFloat($('#id_price_point').val());
			var btc_val = parseFloat($('#id_btc_amount').val());
			var actual_price = btc_val * price_val;
			if(!isNaN(actual_price)) {
				$('#actual-price').text(' $' + (Math.round(actual_price * 100) / 100).toString());
			}
			else {
				$('#actual-price').text('');
			}
		});
	});
</script>
{% endblock bottom %}
