{% extends "base_trade.html" %}

{% block content %}
<h4>
	<small>Bitstamp: <strong class="bs-last">${{ bitstamp_price }}</strong>
	<span style="font-size: .8em">
		<a href="https://bitcointalk.org/index.php?topic=392422.0" target="_blank">Why Bitstamp?</a>
	</span></small>
</h4>
<div class="depth">
	<div class="chart">&nbsp;</div>
	<table>
		<thead>
			<tr>
				<th>Bid</th>
				<th>Amount</th>
				<th>Total</th>
				<th>&nbsp;&nbsp;</th>
				<th>Ask</th>
				<th>Amount</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody id="order-book">&nbsp;</tbody>
	</table>
</div>
{% endblock content %}