{% extends "base_trade.html" %}
{% load bootstrap %}

{% block content %}
<div class="trade">
	<h1>{{ heading }}</h1>
	{% if cb_balance %}<h3 style="color:#666;">Coinbase Balance:
		<strong>{{ cb_balance }}</strong> &nbsp; Current {{ trade_type_lower }} price: <strong>{{ current_price }}</strong></h3>{% endif %}
	<form action="?save" method="post">
		{% csrf_token %}
		{{ form|bootstrap }}
		<p class="actions">
			<button type="submit" class="btn btn-large btn-primary">{{ submit_text }}</button>
		</p>
	</form>
</div>
<script>$('.trade label:eq(3)').hide();</script>
{% endblock content %}