{% extends "base_trade.html" %}

{% block aside2 %}
<table class="table">
	<thead>
		<tr>
			<th>Amount</th>
			<th>Price</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody class="bs-last-list"></tbody>
</table>
{% endblock aside2 %}

{% block content %}
<h4>
	<strong class="bs-last">${{ bitstamp_price }}</strong>
	<span style="font-size: .8em">
		<a href="https://bitcointalk.org/index.php?topic=392422.0" target="_blank">Why Bitstamp?</a>
	</span>
</h4>
<div class="depth">
	<div class="chart">&nbsp;</div>
	<table class="table">
		<thead>
			<tr>
				<th>Bid</th>
				<th>Amount</th>
				<th>Total</th>
				<th>&nbsp;&nbsp;</th>
				<th>Ask</th>
				<th>Amount</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody id="order-book">&nbsp;</tbody>
	</table>
</div>
{% endblock content %}