
#wrapper {
	margin-top: 80px;
}

.navbar-inverse {
	background: #121212;
	/*border-bottom: 30px solid #2059cb;*/
	border-bottom: 30px solid #98b9fb;
}

.navbar-right {
	text-align: right;
}

#day {
	font-size: 25px;
}

#B {
	position: relative;
	padding: 0 25px;
}

#B span {
	display: none;
}

#B img {
	position: absolute;
	top: -14px;
	left: 50%;
	margin-left: -25px;
}

#login-form {
	/*padding-top: 100px;*/
}

#fee-selection {
	padding: 22px;
	line-height: 80%;
}

#fee-selection input {
	padding: 3px 12px;
	height: auto;
}

#history-chart {}

.condensed {
	line-height: 75%;
}

#notifications-signup-step1 {
	color: #666;
	text-align: center;
	font-size: 18px;
	border-bottom: 3px solid #666;
	padding-bottom: 4px;
}

#notifications-signup-step1 a {
	color: blue;
}

#notifications-signup-step1 strong {
	color: #000;
}
