
#wrapper {
	margin-top: 80px;
}

.navbar-inverse {
	background: #121212;
	/*border-bottom: 30px solid #2059cb;*/
	border-bottom: 30px solid #98b9fb;
	border-radius: 0px 0px 32px 32px;
}

.navbar-right {
	text-align: right;
}

a.navbar-brand {
	position: relative;
}

#day {
	font-size: 30px;
	color: #f90;
}

#sun {
	position: absolute;
	top: 2px;
	left: 31px;
	opacity: .7;
}

a.navbar-brand:hover #sun {
	opacity: 1;
}

#B {
	position: relative;
	padding: 0 25px;
}

#B span {
	display: none;
}

#B img {
	position: absolute;
	top: -14px;
	left: 50%;
	margin-left: -25px;
}

#login-form {
	/*padding-top: 100px;*/
}

#fee-selection {
	padding: 22px;
	line-height: 80%;
}

#fee-selection input {
	padding: 3px 12px;
	height: auto;
}

#history-chart {}

.condensed {
	line-height: 75%;
}

#notifications-signup-step1 {
	color: #666;
	text-align: center;
	font-size: 18px;
	border-bottom: 3px solid #666;
	padding-bottom: 4px;
}

#notifications-signup-step1 a {
	color: blue;
}

#notifications-signup-step1 strong {
	color: #000;
}

.priceinfo {
	color: #666;
}

.trade-list {
	padding-left: 0;
	list-style: none;
}

.trade-BUY, .trade-SELL, .trade-STOP_LOSS {
	border-radius: 4px;
	padding: 2px;
}

.trade-BUY {
	border: 1px solid blue;
}

.trade-SELL {
	border: 1px solid purple;
}

.trade-STOP_LOSS {
	border: 1px solid orange;
}

.trade-BUY strong {
	color: blue;
}

.trade-SELL strong {
	color: purple;
}

.trade-STOP_LOSS strong {
	color: orange;
}
